<%= form_with model: @book do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :price %><br>
    <%= form.number_field :price %>
  </div>
  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :category %><br>
    <%= form.select :category, %w[adventure romance scifi horror], selected: 'adventure' %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>